bridje-maven-plugin/hierarchical.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bridje.org/schemas/hirarchical" xmlns:tns="http://www.bridje.org/schemas/hirarchical" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hierarchy" type="tns:hModel"/>

  <xs:complexType name="hModel">
    <xs:complexContent>
      <xs:extension base="tns:hEntityData">
        <xs:sequence>
          <xs:element name="entitys" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entity" type="tns:hEntity" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="enums" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="enum" type="tns:hEnum" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="packageName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hEntityData">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="string" type="tns:hStringField"/>
        <xs:element name="list" type="tns:hListField"/>
        <xs:element name="enum" type="tns:hEnumField"/>
        <xs:element name="boolean" type="tns:hBooleanField"/>
        <xs:element name="element" type="tns:hElementField"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="extendsFrom" type="xs:string"/>
    <xs:attribute name="customizable" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="hEntity">
    <xs:complexContent>
      <xs:extension base="tns:hEntityData">
        <xs:sequence>
          <xs:element name="parent" type="tns:hParentField" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hParentField">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hStringField">
    <xs:complexContent>
      <xs:extension base="tns:hStringFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hStringFieldBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hBasicField">
        <xs:sequence/>
        <xs:attribute name="defaultValue" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hBasicField" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hBasicFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hBasicFieldBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hField">
        <xs:sequence/>
        <xs:attribute name="access" type="tns:hFieldAccess"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hField" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hFieldBase" abstract="true">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="required" type="xs:boolean"/>
    <xs:attribute name="readonly" type="xs:boolean"/>
    <xs:attribute name="isTransient" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="hListField">
    <xs:complexContent>
      <xs:extension base="tns:hListFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hListFieldBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hField">
        <xs:sequence>
          <xs:element name="element" type="tns:hListElement" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="of" type="xs:string"/>
        <xs:attribute name="wrapper" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hListElement">
    <xs:sequence/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hEnumField">
    <xs:complexContent>
      <xs:extension base="tns:hEnumFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hEnumFieldBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hBasicField">
        <xs:sequence/>
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hBooleanField">
    <xs:complexContent>
      <xs:extension base="tns:hBooleanFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hBooleanFieldBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hBasicField">
        <xs:sequence/>
        <xs:attribute name="defaultValue" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hElementField">
    <xs:complexContent>
      <xs:extension base="tns:hElementFieldBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hElementFieldBase" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:hField">
        <xs:sequence/>
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hEnum">
    <xs:sequence>
      <xs:element name="value" type="tns:hEnumValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hEnumValue">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="hFieldAccess">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ATTRIBUTE"/>
      <xs:enumeration value="ELEMENT"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

