bridje-maven-plugin/hierarchical.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bridje.org/schemas/hirarchical" xmlns:tns="http://www.bridje.org/schemas/hirarchical" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hierarchy" type="tns:hModel"/>

  <xs:complexType name="hModel">
    <xs:complexContent>
      <xs:extension base="tns:hEntityBase">
        <xs:sequence>
          <xs:element name="entitys" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entity" type="tns:hEntity" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="enums" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="enum" type="tns:hEnum" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="package" type="xs:string"/>
        <xs:attribute name="namespace" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hEntityBase">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="string" type="tns:hStringField"/>
        <xs:element name="list" type="tns:hListField"/>
        <xs:element name="enum" type="tns:hEnumField"/>
        <xs:element name="boolean" type="tns:hBooleanField"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="extends" type="xs:string"/>
    <xs:attribute name="customizable" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="hEntity">
    <xs:complexContent>
      <xs:extension base="tns:hEntityBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hStringField">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="required" type="xs:boolean" use="required"/>
    <xs:attribute name="readonly" type="xs:boolean" use="required"/>
    <xs:attribute name="transient" type="xs:boolean" use="required"/>
    <xs:attribute name="access" type="tns:hFieldAccess"/>
    <xs:attribute name="default" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hListField">
    <xs:sequence>
      <xs:element name="element" type="tns:hListElement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="required" type="xs:boolean" use="required"/>
    <xs:attribute name="readonly" type="xs:boolean" use="required"/>
    <xs:attribute name="transient" type="xs:boolean" use="required"/>
    <xs:attribute name="of" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hListElement">
    <xs:sequence/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hEnumField">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="required" type="xs:boolean" use="required"/>
    <xs:attribute name="readonly" type="xs:boolean" use="required"/>
    <xs:attribute name="transient" type="xs:boolean" use="required"/>
    <xs:attribute name="access" type="tns:hFieldAccess"/>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hBooleanField">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="required" type="xs:boolean" use="required"/>
    <xs:attribute name="readonly" type="xs:boolean" use="required"/>
    <xs:attribute name="transient" type="xs:boolean" use="required"/>
    <xs:attribute name="access" type="tns:hFieldAccess"/>
    <xs:attribute name="default" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="hEnum">
    <xs:sequence>
      <xs:element name="value" type="tns:hEnumValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hEnumValue">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="hFieldAccess">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ELEMENT"/>
      <xs:enumeration value="ATTRIBUTE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

