bridje-maven-plugin/hierarchical.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bridje.org/schemas/hirarchical" xmlns:tns="http://www.bridje.org/schemas/hirarchical" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hierarchy" type="tns:hModel"/>

  <xs:complexType name="hModel">
    <xs:sequence>
      <xs:element name="entitys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entity" type="tns:hEntity" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="package" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hEntity">
    <xs:sequence>
      <xs:element name="string" type="tns:hStringField" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="hStringField">
    <xs:complexContent>
      <xs:extension base="tns:hField">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hField" abstract="true">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="type" type="tns:hFieldType"/>
  </xs:complexType>

  <xs:simpleType name="hFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ELEMENT"/>
      <xs:enumeration value="ATTRIBUTE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

