bridje-web/src/main/resources/BRIDJE-INF/srcgen/web/theme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bridje.org/schemas/web/theme" xmlns:tns="http://www.bridje.org/schemas/web/theme" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="theme" type="tns:theme"/>

    <xs:complexType name="script" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="href" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="style">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="href" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="defaultResources">
        <xs:sequence>
            <xs:element name="resource" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="script" type="tns:script" />
                        <xs:element name="style" type="tns:style" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>    
    </xs:complexType>

    <xs:complexType name="resources">
        <xs:sequence>
            <xs:element name="resource" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="script" type="tns:script" />
                        <xs:element name="style" type="tns:style" />
                    </xs:choice>
                    <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="widgetResource">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="expFieldDef">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute type="xs:string" name="def" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="childFieldDef">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="childrenFieldDef">
        <xs:sequence>
            <xs:element name="child" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="type" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="allowPlaceHolder" use="optional"/>
        <xs:attribute type="xs:string" name="wrapper" use="optional"/>
        <xs:attribute type="xs:string" name="single" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="eventFieldDef">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    
    <xs:complexType name="widgets">
        <xs:sequence>
            <xs:element name="widget" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resources" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="resource" type="tns:widgetResource" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="fields">
                            <xs:complexType mixed="true">
                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                    <xs:element name="outAttr" type="tns:expFieldDef" />
                                    <xs:element name="inAttr" type="tns:expFieldDef" />
                                    <xs:element name="eventAttr" type="tns:eventFieldDef" />
                                    <xs:element name="attr" type="tns:expFieldDef" />
                                    <xs:element name="outEl" type="tns:expFieldDef" />
                                    <xs:element name="inEl" type="tns:expFieldDef" />
                                    <xs:element name="eventEl" type="tns:eventFieldDef" />
                                    <xs:element name="el" type="tns:expFieldDef" />
                                    <xs:element name="outValue" type="tns:expFieldDef" />
                                    <xs:element name="inValue" type="tns:expFieldDef" />
                                    <xs:element name="eventValue" type="tns:eventFieldDef" />
                                    <xs:element name="value" type="tns:expFieldDef" />
                                    <xs:element name="child" type="tns:childFieldDef" />
                                    <xs:element name="children" type="tns:childrenFieldDef" />
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="render"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="name" use="optional"/>
                    <xs:attribute type="xs:string" name="rootElement" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="theme">
        <xs:sequence>
            <xs:element name="resources" type="tns:resources" />
            <xs:element name="defaultResources" type="tns:defaultResources" />
            <xs:element name="widgets" type="tns:widgets">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="package"/>
        <xs:attribute type="xs:anyURI" name="namespace"/>
    </xs:complexType>
</xs:schema>