code-generation/model.xsd

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://www.bridje.org/schemas/codegen/model" 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.bridje.org/schemas/codegen/model" 
    version="1.0">
    <xs:element name="model">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entity" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="byte" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="autoIncrement" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:string" name="length" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="short" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="autoIncrement" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="length" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="integer" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="autoIncrement" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="length" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="long" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="autoIncrement" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="length" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="boolean" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="float" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="length" use="optional"/>
                                            <xs:attribute type="xs:byte" name="presicion" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="double">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="length" use="optional"/>
                                            <xs:attribute type="xs:byte" name="presicion" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="char" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="string" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="length" use="optional"/>
                                            <xs:attribute type="xs:string" name="trim" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="date" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="time" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="timestamp" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="key" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="relation" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="package"/>
        </xs:complexType>
    </xs:element>
</xs:schema>